.recipeCreation {
    margin: 30px auto;
    padding: 10px 10px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(240, 230, 217, 0.781);
    color: rgb(104, 57, 13);
    font-family: "Times New Roman", Times, serif;
    border: 2px solid rgb(104, 57, 13);
    width: 650px;
  }


#createTitle {
  font-size: 18px;
  font-weight: bold;
}

.itemTitle {
  display: flex;
  justify-content: left;
  text-decoration: underline;
  font-weight: bold;
}

.itemInput {
  align-content: center;
  width: 300px;
  background-color: rgba(240, 230, 217, 0.781);
  color: rgb(104, 57, 13);
  border-color: rgb(104, 57, 13);
  outline: none;
  border-radius: 5px;
}

.errorInput {
  align-content: center;
  width: 300px;
  border-color: red;
  background-color: rgba(240, 230, 217, 0.781);
  color: rgb(104, 57, 13);
  outline: none;
  border-radius: 5px;
}

.error {
  color: red;
}

.button{
  position: relative;
  width: 100px;
  padding: 5px;
  margin-left: 10px;
  background-color: rgba(240, 230, 217, 0.781);
  color: rgb(104, 57, 13);
  border: 2px solid none;
  font-weight: bold;
  font-size: 12px;
  border-radius: 5px;

}
.button:hover {
  background-color: rgba(241, 236, 229, 0.897);
  cursor: pointer;
  border: 2px solid rgb(104, 57, 13);

}

.disabledButton:hover {
  cursor:not-allowed;
}